<!-- 
* Copyright 2016 Carlos Eduardo Alfaro Orellana
-->
<!DOCTYPE html>
<html lang="es">
	{% load static %}
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link rel="stylesheet" href="{% static 'administrador/css/normalize.css'%}">
	<link rel="stylesheet" href="{% static 'administrador/css/sweetalert2.css'%}">
	<link rel="stylesheet" href="{% static 'administrador/css/material.min.css'%}">
	<link rel="stylesheet" href="{% static 'administrador/css/material-design-iconic-font.min.css'%}">
	<link rel="stylesheet" href="{% static 'administrador/css/jquery.mCustomScrollbar.css'%}">
	<link rel="stylesheet" href="{% static 'administrador/css/main.css'%}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
	<script src="js/material.min.js" ></script>
	<script src="js/sweetalert2.min.js" ></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js" ></script>
	<script src="js/main.js" ></script>
</head>
<body class="cover">
	<div class="background_titulo">
		<p class="centrar-titulo">La wea mala🧑🏿</p>
		<div class="container-login">
			<p class="text-center" style="font-size: 80px;">
				<i class="zmdi zmdi-account-circle"></i>
			</p>
			<p class="text-center text-condensedLight">Inicio de Sesion</p>
			<form method="POST" action="" class="login">
				{% csrf_token %}
				<label for="user">User</label>
				<input type="text" name="username" placeholder="user">
				<label for="pass">Password</label>
				<input type="password" name="password" placeholder="pass">
				<input type="submit" value="Iniciar">
				
				<button id="SingIn" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:right;">
					Sign in <i class="zmdi zmdi-mail-send"></i>
				</button>
				
			</form>
			
		</div>
	</div>
	
</body>
</html>
